<!-- LITTLYX WEBAN -->
<script defer data-project="67b5d6b997d306c71390eef0" src="https://cdn.jsdelivr.net/gh/litlyx/litlyx-js/browser/litlyx.js"></script>

<!-- UMAMI WEB ANALYTICS -->
<!-- <script async src="https://umami.domain.com/script.js" data-website-id="ac0b-2404f180f2cc"></script> -->

<!-- Google tag (gtag.js) -->
<!-- 
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XXXXXXXXXX"></script>
 <script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'G-XXXXXXXXXX');
 </script> -->